@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes glow {
  from {
    text-shadow: 0 0 20px #868686;
  }
  to {
    text-shadow: 0 0 40px #72bae3, 0 0 20px #4dbbc7;
  }
}

:root {
  font-size: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%; 
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


.jaro {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: glow 2s ease-in-out infinite alternate;
}

.jaro-noshade {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #757575;
}
